body {
    text-align: center;
    line-height: 1.5;
    font-size: 100%;
}

header,
section {
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    margin: 24px 0;
}

h2 {
    font-size: 32px;
}

/* *********** form ************ */
fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}
legend {
    padding: 50px 0 20px 0;
}
form {
    margin: 48px;
}

legend {
    font-size: 24px;
}

input {
    padding: 5px;
    margin-bottom: 15px;
}
fieldset .checkbox {
    margin: 10px 0 0 0;
}
fieldset a {
    margin: 10px 0 20px 0;
}

button {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

/* ************** footer *************** */
footer li {
    display: inline;
}